// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a {

}

p,
a {
  font-family: 'Roboto Mono', monospace;
  font-family: 'Roboto Mono', monospace;
  color: black;
}

body {
  padding: 0;
  margin: 0;
  background-color: #f7f7ff
}

.section {
  height: 100vh;
    background-color: #F7F7FF;

}

.section_1 {
  padding-top: 1%;
  height: 100vh;
    background-color: #F7F7FF;
}

.h1_1 {
  font-family: 'Roboto Mono', monospace;
  color: #3185FC;
  margin-top: 0px;
  text-align: center;
  font-size: 5em;
  position: relative;
      top: 42%;
      -webkit-transform: translateY(-46%);
      -ms-transform: translateY(-46%);
      transform: translateY(-46%);
}


h2.hidden {
  display: none;
}

h1.hidden {
    display: none;
}

div.hidden {
  display: none;
}

.h2_sub {
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  position: relative;
    top: 32%;
    -webkit-transform: translateY(-36%);
    -ms-transform: translateY(-36%);
    transform: translateY(-36%);
}

.h1_2 {
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  position: relative;

      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);

}

.h1_3 {
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  position: relative;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);



}

.Projects {
    margin: auto;
    // max-width: 610px;
    // min-width: 600px
}

.project_section {
background-color: #F7F7FF;
}

.thumb {
  text-align: center;
  height: 33vw;
width: 33vw;
}
.thumb2 {
  margin-top: -2%;
  height: 33vw;
width: 33vw;
}


.container {
  margin: 0 auto;
  width:90px;
  height:90px;
  text-align: center;

}

.arrow1 {
      margin-top: 254px;
      position: absolute;
      top: 32%;
      transform: translateY(-50%);
}

.arrow2 {
      margin-top: 53px;
}

/*-------------Infinite Bouncing Arrow----------*/

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.thumbselect1 {
 margin-right: -1%;
 margin-left: 1%;
 filter: grayscale(100%) ;
 transition: 1s;
 overflow: hidden;
 background-color: #3185FC;
 }

 .thumbselect2 {
   background-color: #474448;
   filter: grayscale(100%)
 }
 .thumbselect3 {
   margin-left: -1%;
   background-color: #92140C;
    filter: grayscale(100%)
 }

 .thumbselect4 {
   margin-right: -1%;
   margin-left: 1%;
   background-color: #534B62;
    filter: grayscale(100%);
 }

 .thumbselect5 {
    filter: grayscale(100%);
    background-color: #392F5A;
 }

 .thumbselect6 {
   margin-left: -1%;
   filter: grayscale(100%);
   background-color: #ADFCF9;
 }


.thumbselect6:hover,
.thumbselect5:hover,
.thumbselect4:hover,
.thumbselect3:hover,
.thumbselect2:hover,
.thumbselect1:hover {
  filter: none;
  transition: 1s;
}

#phone,
#mail,
#linkedin, {
  border-radius: 50%;
  padding: 14px;
  transition: 1s;
}

.phoneclass{
  display: inline-block;
  width: 33vw;
  text-align: center;
  margin-top: 11vw;
transition: 1s;
}

.mailclass{
  display: inline-block;
  width: 33vw;
  text-align: center;
  margin-top: 11vw;
  transition: 1s;
}

.linkedinclass {
  display: inline-block;
  width: 33vw;
  text-align: center;
    margin-top: 11vw;
    color: black;
transition: 1s;
}

.linkedinhref {
  display: list-item;
  text-decoration: none;
  margin-top: 16px;
  color: black;
}


.linkedinhref:hover,
.phoneclass:hover,
.mailclass:hover,
.linkedinclass:hover{
  color: #3185FC;
  border-color: #3185FC;
  transition: 1s;
  border-color: #3185FC;
  transform: translateY(-10px);

}

#phone:hover,
#mail:hover,
#linkedin:hover, {
  color: #3185FC;
  border-color: #3185FC;
  transition: 1s;
}

.fa-4x {
  color: black;
}
